<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
    <!-- Сюда добавьте ссылки на CSS и JavaScript -->
</head>
<body>
<h2>Форма добавления пользователя</h2>
<form th:action="@{/admin/add}" th:object="${user}" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка имени</div>

    <label for="password">Пароль:</label>
    <input type="password" id="password" th:field="*{password}" required>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка пароля</div>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" th:field="*{surname}" required>
    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Ошибка фамилии</div>

    <label for="age">Возраст:</label>
    <input type="number" id="age" th:field="*{age}" required>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Ошибка возраста</div>

    <label for="roles">Роли:</label>
    <select multiple id="roles" name="selectedRoles">
        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.roleName}"></option>
    </select>

    <input type="submit" value="Добавить пользователя">
</form>
</body>
</html>