<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>

        .logout-button {
            position: fixed;
            right: 50px;
            top: 0px;
            background-color: transparent; /*  цвет фона */
            color: #989393; /* Цвет текста */
            padding: 10px 20px; /* Внутренние отступы */
            border: none; /* Убрать границу */
            border-radius: 5px; /* Скругленные углы */
            font-size: 16px; /* Размер шрифта */
            cursor: pointer; /* Курсор в виде указателя */
        }

        .logout-button:hover {
            background-color: #d80c26; /* цвет при наведении */
            color: white; /* цвет текста при наведении */
        }
        /* Стили для полосы */
        .user-bar {
            background-color: rgba(18, 16, 16, 0.8); /*  фон */
            color: white;
            padding: 10px 0;
        }
        .tab {
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            background-color: #f8f9fa; /* Цвет фона вкладок */
            color: darkgrey; /* Цвет текста неактивной вкладки */
            border-radius: 0px;
            margin-right: 5px; /* Отступ между вкладками */
        }
        .tab.active {
            background-color: white; /*  цвет фона активной вкладки */
            color: #343a40; /*  цвет текста активной вкладки */
            border: 2px solid #e6e6e6;/* цвет контура */
            border-bottom: none;
        }
        .tab:hover {
            background-color: white;
            color: #343a40;
        }
        .light-blue {
            color: #add8e6; /* Светло-голубой цвет текста */
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0,0,0,.05); /* Чередование цветов строк */
        }
        .sidebar {
            position: fixed; /* Фиксированное положение */
            left: 0; /* Прижать к левому краю */
            top: 50px; /* Прижать к верху */
            width: 250px; /* Ширина колонки */
            background: #fff; /* Белый фон */
            height: 100vh; /* Высота на весь экран */
            padding: 10px; /* Внутренние отступы */
            box-sizing: border-box; /* Размеры включают padding */
        }

        /* Обновленные стили для кнопок */
        .nav-button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            background: transparent; /* Прозрачный фон */
            text-align: left;
            border: none; /* Убрать границу */
            outline: none; /* Убрать контур */
            cursor: pointer; /* Курсор в виде указателя */
            transition: background-color 0.3s; /* Плавное изменение фона */
        }
        .nav-button:hover {
            background-color: #e0e0e0; /* Цвет фона при наведении */
        }
        .nav-button.active {
            background-color: #007bff; /* Синий цвет активной кнопки */
            color: white; /* Белый текст */
        }
        .main-content {
            margin-left: 170px; /* Отступ слева равен ширине .sidebar + padding */
        }

        .container {
            margin-left: 170px;
        }
        /* Стили для кнопки редактирования */
        #edit-user {
            background-color: #1e60d5; /* светло-синий цвет */
            color: white; /* белый текст */
            border: none; /* без рамки */
        }

        #edit-user i {
            margin-right: 5px; /* отступ иконки от текста */
        }

        /* Стили для кнопки удаления */
        #delete-user {
            background-color: red; /* красный цвет */
            color: white; /* белый текст */
            border: none; /* без рамки */
        }

        #delete-user i {
            margin-right: 5px; /* отступ иконки от текста */
        }
    </style>
</head>
<body>
<!-- Левая боковая колонка -->
<div class="sidebar">
    <button class="nav-button active" onclick="location.href='/admin/'">Панель администратора</button>
    <button class="nav-button" onclick="location.href='/user'">Информация о пользователе</button>
</div>
<!-- Полоса в верхней части страницы -->
<div class="user-bar">
    <div class="container">
        <div class="row">
            <div class="col">
                <span th:text="${user.name}"></span> -
                <span th:each="role : ${user.roles}" th:text="${role.roleName} + (iterStat.last ? '' : ', ')"></span>
            </div>
            <div class="col text-right">
                <a href="/logout" class="btn btn-primary logout-button">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
<div class="container mt-5">
    <h1>Панель администратора</h1>
</div>
    <div class="container mt-3">
        <a href="javascript:void(0);" class="tab active" onclick="showUsersTable()" data-target="table">Таблица пользователей</a>
        <a href="javascript:void(0);" class="tab light-blue" onclick="showAddUserForm()" data-target="form">Добавить нового пользователя</a>
    </div>
<!--    Таблица пользователей-->
    <div class="container mt-3" id="users-table">
        <h2>Все пользователи</h2>
        <table class="table table-responsive table-striped">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Роли</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody id="usersTableId">
            <!-- Заполнение таблицы будет производиться здесь с помощью JavaScript -->
            </tbody>
        </table>
    </div>
</div>
<!--Форма добавления нового пользователя-->
<div class="main-content">
<div class="container mt-3" id="add-user-form" style="display: none;">
    <h2>Добавить нового пользователя</h2>
    <form id="new-user-form">
        <div class="form-group">
            <label for="new-user-name" class="col-form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="new-user-name">
            <div id="error-name" class="validation-error" style="display: none; color: red;"></div>
        </div>
        <div class="form-group">
            <label for="new-user-surname" class="col-form-label">Фамилия</label>
            <input type="text" class="form-control" id="new-user-surname">
            <div id="error-surname" class="validation-error" style="display: none; color: red;"></div>
        </div>
        <div class="form-group">
            <label for="new-user-age" class="col-form-label">Возраст</label>
            <input type="number" class="form-control" id="new-user-age">
            <div id="error-age" class="validation-error" style="display: none; color: red;"></div>
        </div>
        <div class="form-group">
            <label for="new-user-password" class="col-form-label">Пароль</label>
            <input type="password" class="form-control" id="new-user-password">
            <div id="error-password" class="validation-error" style="display: none; color: red;"></div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="new-user-roles">Role</label>
            <select class="custom-select form-control" id="new-user-roles"
                    name="roles"
                    multiple
                    size="2">
                <option value="ROLE_USER">USER</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_GUEST">GUEST</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
</div>
<!--Модальное окно редактирования пользователя-->
<div class="modal fade" id="userEditDialog" tabindex="-1" role="dialog" aria-labelledby="userEditDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userEditDialogLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="user-id">
                    <div class="form-group">
                        <label for="user-name" class="col-form-label">User name</label>
                        <input type="text" class="form-control" id="user-name">
                        <div id="user-name-error" class="validation-error" style="display: none; color: red;"></div>
                    </div>
                    <div class="form-group">
                        <label for="user-surname" class="col-form-label">Surname</label>
                        <input type="text" class="form-control" id="user-surname">
                        <div id="user-surname-error" class="validation-error" style="display: none; color: red;"></div>
                    </div>
                    <div class="form-group">
                        <label for="user-age" class="col-form-label">Age</label>
                        <input type="number" class="form-control" id="user-age">
                        <div id="user-age-error" class="validation-error" style="display: none; color: red;"></div>
                    </div>
                    <div class="form-group">
                        <label for="user-password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="user-password">
                        <div id="user-password-error" class="validation-error" style="display: none; color: red;"></div>
                    </div>
                    <div class="form-group">
                        <label for="user-roles" class="col-form-label">Roles</label>
                        <select class="form-control" id="user-roles" multiple>
                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                            <option value="ROLE_USER">ROLE_USER</option>
                            <option value="ROLE_GUEST">ROLE_GUEST</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save-user-button" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно удаления пользователя -->
<div class="modal fade" id="userDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="userDeleteDialogTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="userDeleteDialogTitle">Удаление пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить пользователя?</p>
                    <div class="form-group">
                        <label for="delete-user-id">ID:</label>
                        <input type="text" id="delete-user-id" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="delete-user-name">Имя:</label>
                        <input type="text" id="delete-user-name" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="delete-user-surname">Фамилия:</label>
                        <input type="text" id="delete-user-surname" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="delete-user-age">Возраст:</label>
                        <input type="text" id="delete-user-age" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="user-roles-list">Роли:</label>
                        <input type="text" id="user-roles-list" class="form-control" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    function showUsersTable() {
        document.getElementById('users-table').style.display = 'block';
        document.getElementById('add-user-form').style.display = 'none';

        document.querySelector('.tab[data-target="table"]').classList.add('active');
        document.querySelector('.tab[data-target="form"]').classList.remove('active');
    }

    function showAddUserForm() {
        document.getElementById('users-table').style.display = 'none';
        document.getElementById('add-user-form').style.display = 'block';
        // Обновляем стиль вкладок
        document.querySelector('.tab[data-target="form"]').classList.add('active');
        document.querySelector('.tab[data-target="table"]').classList.remove('active');
    }

    window.onload = showUsersTable;
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>

    async function dataAboutAllUsers() {
        const response = await fetch("/api/v1/admin");
        return await response.json();
    }

    async function dataAboutCurrentUser() {
        const response = await fetch("/api/v1/user")
        const data = await response.json();
        console.log(data); // Добавлено для отладки
        return data;
    }


    async function fillTableOfAllUsers() {
        const usersTable = document.getElementById("usersTableId");
        const users = await dataAboutAllUsers();

        if (!users) {
            console.error('Не удалось получить данные о пользователях.'); // Добавлено для отладки
            return;
        }


        let usersTableHTML = "";
        for (let user of users) {
            usersTableHTML +=
                `<tr>
                <td>${user.id}</td>
                <td>${user.name}</td>
                <td>${user.surname}</td>
                <td>${user.age}</td>
               <td>${user.roles.map(role => role.roleName.substring(5).concat(" ")).toString().replaceAll(",", "")}</td>
                <td>
                    <button class="btn btn-info"
                            data-toggle="modal"
                            data-target="#userEditDialog"
                            data-user-id="${user.id}">
                        Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#userDeleteDialog"
                            data-user-id="${user.id}">
                        Delete</button>
                </td>
            </tr>`;
        }
        usersTable.innerHTML = usersTableHTML;
    }

    fillTableOfAllUsers();



    // Функция для отображения сообщения об ошибке
    function showValidationError(selector, message) {
        let modal = $('#userEditDialog');
        let errorContainer = modal.find(selector);
        errorContainer.text(message);
        errorContainer.show();
    }

    // Функция для скрытия сообщений об ошибках
    function clearValidationErrors() {
        let modal = $('#userEditDialog');
        modal.find('.validation-error').hide();
    }

    $(document).ready(function() {
        $('#userEditDialog').on('shown.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let userId = button.data('user-id');

            if (userId) {
                $.get({
                    url: '/api/v1/user/' + userId,
                    success: (userData) => {
                        let modal = $(this);
                        modal.find('#user-id').val(userData.id);
                        modal.find('#user-name').val(userData.name);
                        modal.find('#user-password').val(userData.password);
                        modal.find('#user-surname').val(userData.surname);
                        modal.find('#user-age').val(userData.age);

                        $.get({
                            url: '/api/v1/roles',
                            success: (rolesData) => {
                                let rolesSelect = modal.find('#user-roles');
                                rolesSelect.empty(); // Очистка предыдущих опций
                                rolesData.forEach(function (role) {
                                    let isSelected = userData.roles.some(userRole => userRole.roleName === role.roleName);
                                    rolesSelect.append(new Option(role.roleName, role.roleName, isSelected, isSelected));
                                });
                            },
                            error: (err) => {
                                console.error('Ошибка при получении ролей:', err);
                            }
                        });
                    },
                    error: (err) => {
                        alert('Ошибка при получении данных пользователя:', err);
                    }
                });
            }
        });
    });
    // Функция валидации данных формы
    function validateUserData(user) {
        clearValidationErrors(); // Очистка предыдущих ошибок
        let isValid = true;


        const namePattern = /^[а-яА-ЯёЁa-zA-Z]{2,30}$/;
        if (!namePattern.test(user.name)) {
            showValidationError('#user-name-error', 'Имя должно содержать только буквы и быть длиной от 2 до 30 символов.');
            isValid = false;
        }


        const surnamePattern = /^[а-яА-ЯёЁa-zA-Z]{2,30}$/;
        if (!surnamePattern.test(user.surname)) {
            showValidationError('#user-surname-error', 'Фамилия должна содержать только буквы и быть длиной от 2 до 30 символов.');
            isValid = false;
        }


        if (user.age <= 0) {
            showValidationError('#user-age-error', 'Возраст должен быть больше 0.');
            isValid = false;
        }

        return isValid;
    }

    function validateUserDataAdd(userData) {
        const errors = {};


        const namePattern = /^[а-яА-ЯёЁa-zA-Z]{2,30}$/;
        if (!namePattern.test(userData.name)) {
            errors.name = 'Имя должно содержать только буквы и быть длиной от 2 до 30 символов.';
        }

        const surnamePattern = /^[а-яА-ЯёЁa-zA-Z]{2,30}$/;
        if (!surnamePattern.test(userData.surname)) {
            errors.surname = 'Фамилия должна содержать только буквы и быть длиной от 2 до 30 символов.';
        }

        if (userData.age && (isNaN(userData.age) || userData.age <= 0 || userData.age > 120)) {
            errors.age = 'Возраст должен быть числом между 1 и 120.';
        }

        return errors;
    }

    function displayValidationErrorsAdd(errors) {

        const errorElements = document.querySelectorAll('.validation-error');
        errorElements.forEach(element => {
            element.textContent = '';
        });

        for (const key in errors) {
            if (errors.hasOwnProperty(key)) {
                const errorDisplayElement = document.getElementById(`error-${key}`);
                if (errorDisplayElement) {
                    errorDisplayElement.textContent = errors[key];
                    errorDisplayElement.style.display = 'block'; // Показываем элемент с ошибкой
                }
            }
        }
    }

    //
    //
    //                ДОБАВЛЕНИЕ НОВОГО ПОЛЬЗОВАТЕЛЯ
    //
//
    async function getRoles() {
        try {
            const response = await fetch("/api/v1/roles");
            if (!response.ok) {
                throw new Error(`Ошибка: ${response.status}`);
            }
            const roles = await response.json();
            const rolesSelect = document.getElementById('new-user-roles');
            rolesSelect.innerHTML = '';
            roles.forEach(role => {
                const option = document.createElement('option');
                option.value = role.id;
                option.textContent = role.roleName;
                rolesSelect.appendChild(option);
            });
        } catch (error) {
            console.error('Не удалось загрузить роли:', error);

        }
    }

    document.addEventListener('DOMContentLoaded', getRoles);

    async function createNewUser(user) {
        console.log("Отправка данных пользователя:", user);
        const response = await fetch("/api/v1/add",
            {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(user)});

        console.log("Ответ сервера:", response);
        if (!response.ok) {

            const errors = await response.json();

            displayValidationErrorsAdd(errors);
            return false;
        }
        return true;
    }

    async function addNewUserForm() {
        const newUserForm = document.getElementById("new-user-form");

        newUserForm.addEventListener('submit', async function (event) {
            event.preventDefault();

            const name = newUserForm.querySelector("#new-user-name").value.trim();
            const surname = newUserForm.querySelector("#new-user-surname").value.trim();
            const age = newUserForm.querySelector("#new-user-age").value.trim();
            const password = newUserForm.querySelector("#new-user-password").value.trim();
            const rolesSelected = document.getElementById("new-user-roles");
            let roles = [];
            for (let option of rolesSelected.selectedOptions) {
                roles.push({id: option.value, roleName: option.textContent});
            }

            const newUserData = {
                name: name,
                surname: surname,
                age: age,
                password: password,
                roles: roles
            };

            const validationErrors = validateUserDataAdd(newUserData);
            if (Object.keys(validationErrors).length > 0) {
                displayValidationErrorsAdd(validationErrors);
                return;
            }

            const userCreated = await createNewUser(newUserData);
            console.log("Результат создания пользователя:", userCreated);
            if (userCreated) {
                await fillTableOfAllUsers(); // Обновляем таблицу пользователей
                showUsersTable(); // Показываем таблицу пользователей
            } else {
                alert("Произошла ошибка при создании пользователя.");
            }
        });
    }

    addNewUserForm();

    // Функция для отображения ошибок валидации
    function displayValidationErrors(errors) {

        const errorElements = document.querySelectorAll('.validation-error');
        errorElements.forEach(el => el.textContent = '');


        Object.keys(errors).forEach(field => {
            const errorElement = document.getElementById(`error-${field}`);
            if (errorElement) {
                errorElement.textContent = errors[field];
            }
        });
    }

    $('#save-user-button').off('click').on('click', function() {
        let modal = $('#userEditDialog');
        let selectedRoles = modal.find('#user-roles').val(); // Получение выбранных ролей
        let rolesArray = selectedRoles.map(roleName => ({ roleName }));
        let ageValue = modal.find('#user-age').val();
        let age = ageValue ? parseInt(ageValue) : null;
        let user = {
            name: modal.find('#user-name').val(),
            password: modal.find('#user-password').val(),
            surname: modal.find('#user-surname').val(),
            age: age,
            roles: rolesArray
        };

        if (!validateUserData(user)) {
            return;
        }

        let userId = modal.find('#user-id').val() ;

        if (userId) {
            user.id = userId;
            $.ajax({
                url: '/api/v1/user/' + userId,
                type: 'PUT',
                data: JSON.stringify(user),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: () => {
                    fillTableOfAllUsers();
                },
                error: (err) => {
                    alert(err.responseText || 'Произошла ошибка при сохранении пользователя.');
                }
            });
        } else {
            console.error('UserID не определен.');
        }
        modal.modal('hide');
    });


    $(document).ready(function() {
        $('#userDeleteDialog').on('shown.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let userId = button.data('user-id');

            $.get({
                url: '/api/v1/user/' + userId,
                success: (userData) => {
                    let modal = $('#userDeleteDialog');
                    modal.find('#delete-user-id').val(userData.id);
                    modal.find('#delete-user-name').val(userData.name);
                    modal.find('#delete-user-surname').val(userData.surname);
                    modal.find('#delete-user-age').val(userData.age);
                    fetch(`/api/v1/${userId}/roles`)
                        .then(response => response.json())
                        .then(roles => {
                            if (Array.isArray(roles)) {

                                const rolesList = roles.join(', ');
                                modal.find('#user-roles-list').val(rolesList);
                            } else {
                                console.error('Ожидался массив ролей, но получен:', roles);
                            }
                        })
                        .catch(error => {
                            console.error('Ошибка при получении ролей:', error);
                        });
                },
                error: (err) => {
                    alert('Ошибка при получении данных пользователя:', err);
                }
            });
        });
    });

    $('#confirm-delete').on('click', function() {
        let userId = $('#delete-user-id').val();
        $.ajax({
            url: '/api/v1/user/' + userId,
            type: 'DELETE',
            success: () => {
                fillTableOfAllUsers();
                $('#userDeleteDialog').modal('hide');
            },
            error: (err) => {
                alert('Ошибка при удалении пользователя:', err);
            }
        });

    });
</script>

</body>
</html>